/* Ing. Felipe de Jesús Miramontes Romreo */
/* Documento SCSS para la asignación de estilos en formato de escritorio 
para el sitio https://felipemiramontesr.net */
/* 15/07/2022 */

/* Variables*/
$naranja: rgb(252, 124, 33);
$blanco: rgb(198, 200, 200);
$azul:  rgb(7, 234, 242);
$layout-breakpoint: 992px;


/* Inicio de la Media Query para dispositivos de tipo escritorio */
@media (min-width: $layout-breakpoint) {

	body{
		font-family: "Montserrat"; 
	}

	/* Ocultar 'Suscribe' */
	.feed_icon{
		display: none
	}

	/* Creación de la página: /experiencia (/node/25) */
	.pagina_experiencia{		
		padding: 30px 100px;


			/* The image used */
			position: absolute;
			top: 0;
			bottom: 0;
	
			background-image: url("back.jpg");	
			/* Create the parallax scrolling effect */
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover; 


		.box-1{
				padding: 0px 20px 10px 20px;
				backdrop-filter: blur(20px) saturate(138%);
				-webkit-backdrop-filter: blur(20px) saturate(138%);
				background-color: rgba(255, 255, 255, 0.14);
				border: 1px solid rgba(209, 213, 219, 0.3);
				border-radius: 12px;
			.row-1{
				height: 30px;
				padding-top: 10px;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
				text-align: center;
				color: #ffd9a1;
				font-style: oblique;
				font-size: 10px;
				
				div{
					border-left: 1px solid #ffd9a1;
					border-right: 1px solid #ffd9a1;
				}

				.año-2012{}
				.año-2013{}
				.año-2014{}
				.año-2015{}
				.año-2016{}
				.año-2017{}
	
				.año-2018{}
				.año-2019{}
				.año-2020{}
				.año-2021{}
				.año-2022{}
			}
			.row-2{
				margin-top: -10px;
				display: grid;

				grid-template-columns: 2fr 8fr 2fr 3fr 23fr 4fr 1fr;
				text-align: center;
				color: rgb(255, 217, 161);
				font-style: oblique;
				font-size: 10px;


				div{
					padding: 30px 0px 10px 0px;
					border-left: 1px solid transparent;
					border-right: 1px solid transparent;
					border-bottom: 1px solid transparent;
					border-radius: 0 0 30px 5px;
					cursor: pointer;
				}
				.r1{

					transition: 1s;
					text-align: center;
				}
				.r2{
					transition: 1s;
					text-align: center;
				}
				.r3{
					text-align: center;
					transition: 1s;
				}
				.r4{
					transition: 1s;
					text-align: center;
				}
				.r5{
					transition: 1s;
					text-align: center;
				}
				.r6{
					transition: 1s;	
					text-align: center;
				}
				.r7{
					transition: 1s;
					text-align: center;
				}

				.r1:hover{
					background-color: rgb(255, 217, 161, 0.3);
					border-left: 1px solid rgb(255, 217, 161);
					border-right: 1px solid rgb(255, 217, 161);
					border-bottom: 1px solid rgb(255, 217, 161);
					color: #ffffff;
				}
				.r2:hover{
					background-color: rgb(255, 217, 161, 0.3);
					border-left: 1px solid rgb(255, 217, 161);
					border-right: 1px solid rgb(255, 217, 161);
					border-bottom: 1px solid rgb(255, 217, 161);
					color: #ffffff;
				}
				.r3:hover{
					background-color: rgb(255, 217, 161, 0.3);
					border-left: 1px solid rgb(255, 217, 161);
					border-right: 1px solid rgb(255, 217, 161);
					border-bottom: 1px solid rgb(255, 217, 161);
					color: #ffffff;
				}
				.r4:hover{
					background-color: rgb(255, 217, 161, 0.3);
					border-left: 1px solid rgb(255, 217, 161);
					border-right: 1px solid rgb(255, 217, 161);
					border-bottom: 1px solid rgb(255, 217, 161);
					color: #ffffff;
				}
				.r5:hover{
					background-color: rgb(255, 217, 161, 0.3);
					border-left: 1px solid rgb(255, 217, 161);
					border-right: 1px solid rgb(255, 217, 161);
					border-bottom: 1px solid rgb(255, 217, 161);
					color: #ffffff;
				}
				.r6:hover{
					background-color: rgb(255, 217, 161, 0.3);
					border-left: 1px solid rgb(255, 217, 161);
					border-right: 1px solid rgb(255, 217, 161);
					border-bottom: 1px solid rgb(255, 217, 161);
					color: #ffffff;
				}
				.r7:hover{
					background-color: rgb(255, 217, 161, 0.3);
					border-left: 1px solid rgb(255, 217, 161);
					border-right: 1px solid rgb(255, 217, 161);
					border-bottom: 1px solid rgb(255, 217, 161);
					color: #ffffff;
				}

			}
		}

		.box-2{
			margin-top: 5px;

			div{
				display: flex;

				
				.menu_principal_movil{
					display: none;
				}

				.menu_header_experiencia{
					display: none;
				}
				
				.menu_footer_experiencia{
					display: none;
				}

				.menu_header_experiencia_naranja{
					display: none;
				}
				
				.menu_footer_experiencia_azul{
					display: none;
				}

				.menu_principal{
					padding: 0px 10px;
		
					backdrop-filter: blur(20px) saturate(138%);
					-webkit-backdrop-filter: blur(20px) saturate(138%);
					background-color: rgba(255, 255, 255, 0.14);
					border-radius: 12px;
					border: 1px solid rgba(209, 213, 219, 0.3);
		
					nav{
						ul{
							list-style: none;
							padding-left:0;
							text-align: center;
							li{
								font-size: 22px;
								margin: 25px 0px;
								
								a{
									color: $blanco;
									transition: 2s;
								}
								a:hover{
									color: #fff;
								}
							}
						}
					}
				}
				.menu_principal:hover{
					transition: 1s;
					box-shadow: rgba(252, 124, 33, 0.4) -5px 5px, rgba(252, 124, 33, 0.3) -10px 10px, rgba(252, 124, 33, 0.2) -15px 15px, rgba(252, 124, 33, 0.1) -20px 20px, rgba(252, 124, 33, 0.05) -25px 25px;
					a{
						color: #ffd9a1;
					}
				}
				#block-views-block-galeria-experiencia-block-1{
					ul{
						list-style: none;
						padding-left:0;
						margin:0;
					}
					margin-left: 5px;
					div{
		
						div{
							display: block;
		
							div{
								display: block;
		
								.node_experiencia_galeria_experiencia{
									display: grid;
									grid-template-columns: 1fr 1fr;
									height: 380px;
									font-size: 12px;
									padding: 30px;
									cursor: default;
		
									backdrop-filter: blur(50px) saturate(138%);
									-webkit-backdrop-filter: blur(50px) saturate(138%);
									background-color: rgba(255, 255, 255, 0.14);
									border-radius: 12px;
									border: 1px solid rgba(209, 213, 219, 0.3);
		
									.box1{
										.image{
											cursor: default;
											img{
												width: 380px;
												height: 380px;
												border-radius: 1000px;
						   						-moz-border-radius: 1000px;
						   						-webkit-border-radius: 1000px;											
												filter: brightness(0.5);
											}	
										}
									}
		
									.box2{
										.title{
											text-align: right;
											cursor: default;
											a{
												text-decoration: none;
												color: $blanco;
												font-size: 21px;
												font-style: oblique
											}
										}
										.localizacion{
											text-align: right;
											color: $blanco;    
										}
		
										.fechas, .fecha{
											margin-top: 10px;
											color: #052029;
											font-size: 24px;
											text-align: right;
											font-weight: bolder;
										}
		
										.tipo_de_empleo{
											margin-top: 20px;
											text-align: left;
											color: #ffd9a1;
											font-size: 12px;
											font-style: oblique
										}
										.body{
											text-align: justify;
											color: $blanco;
											font-size: 12px;
										}
		
										.tecnologias_empleadas{
											margin-top: 20px;
											text-align: left;
											color: #ffd9a1;
											font-size: 12px;
											font-style: oblique;
											width: 100%;
											div{
												display: grid;
												gap:20px 5px;
												grid-template-columns: 1fr 1fr 1fr;
												div{
													display: block;
													text-align: center;
												}
											}
										}
									}
								}
								.node_experiencia_galeria_experiencia:hover{
									transition: 1s;
									box-shadow: rgba(7, 234, 242, 0.5) 5px 5px, rgba(7, 234, 242, 0.3) 10px 10px, rgba(7, 234, 242, 0.2) 15px 15px, rgba(7, 234, 242, 0.1) 20px 20px, rgba(7, 234, 242, 0.05) 25px 25px;
									.title{
										a{
											color: #07eaf2;
											transition: 1s;
										}
									}
									.localizacion{
										color: #07eaf2;
										transition: 1s;
									}
								}
							}
						}
					} 
				}

				#block-views-block-experiencia-block-1{
					display: none;
					/* margin-left: 5px;
					div{
		
						div{
							display: block;
		
							div{
								display: block;
		
								.node_experiencia_teaser{
									display: grid;
									grid-template-columns: 1fr 1fr;
									height: 400px;
									font-size: 12px;
									padding: 30px;
									cursor: default;
		
									backdrop-filter: blur(50px) saturate(138%);
									-webkit-backdrop-filter: blur(50px) saturate(138%);
									background-color: rgba(255, 255, 255, 0.14);
									border-radius: 12px;
									border: 1px solid rgba(209, 213, 219, 0.3);
		
									.box1{
										.image{
											cursor: default;
											img{
												width: 250px;
												height: 250px;
												border-radius: 1000px;
												-moz-border-radius: 1000px;
												-webkit-border-radius: 1000px;
		
												
												filter: brightness(0.5);
											}	
										}
									}
		
									.box2{
										.title{
											text-align: right;
											cursor: default;
											a{
												text-decoration: none;
												color: $blanco;
												font-size: 21px;
												font-style: oblique
											}
										}
										.localizacion{
											text-align: right;
											color: $blanco;    
										}
		
										.fechas, .fecha{
											margin-top: 10px;
											color: #052029;
											font-size: 24px;
											text-align: right;
											font-weight: bolder;
										}
		
										.tipo_de_empleo{
											margin-top: 20px;
											text-align: left;
											color: #ffd9a1;
											font-size: 12px;
											font-style: oblique
										}
										.body{
											text-align: justify;
											color: $blanco;
											font-size: 12px;
										}
		
										.tecnologias_empleadas{
											margin-top: 20px;
											text-align: left;
											color: #ffd9a1;
											font-size: 12px;
											font-style: oblique;
											width: 100%;
											div{
												display: grid;
												gap:20px 5px;
												grid-template-columns: 1fr 1fr 1fr;
												div{
													display: block;
													text-align: center;
												}
											}
										}
									}
								}
								.node_experiencia_teaser:hover{
									transition: 1s;
									box-shadow: rgba(7, 234, 242, 0.5) 5px 5px, rgba(7, 234, 242, 0.3) 10px 10px, rgba(7, 234, 242, 0.2) 15px 15px, rgba(7, 234, 242, 0.1) 20px 20px, rgba(7, 234, 242, 0.05) 25px 25px;
									.title{
										a{
											color: #07eaf2;
											transition: 1s;
										}
									}
									.localizacion{
										color: #07eaf2;
										transition: 1s;
									}
								}
							}
						}
					} */	
				} //Fin de: Block experiencia
			}
		}		
	}
}
/* Fin de la Media Query para dispositivos de tipo escritorio */