/* Ing. Felipe de Jesús Miramontes Romreo */
/* Documento SCSS para la asignación de estilos en formato de escritorio 
para el sitio https://felipemiramontesr.net */
/* 15/07/2022 */

/* Variables*/
$naranja1: rgb(252, 124, 33);
$naranja2: rgb(255, 217, 161);
$blanco: rgb(198, 200, 200);
$azul:  #94ebee;
$layout-breakpoint: 992px;


/* Inicio de la Media Query para dispositivos de tipo escritorio */
@media (min-width: $layout-breakpoint) {

	/* <body></body> implicito: no posee representación grafica alguna*/
	body{
		font-family: "Montserrat"; 
		overflow: hidden;
	}
    
    /* Ocultar 'Suscribe' */
	.feed_icon{
		display: none
	}

    /* Creación de la página (felipemiramontesr.net): /home */
	.pagina_frontal{
		/* The image used */
		position: absolute;
		top: 0;
		bottom: 0;

		background-image: url("back.jpg");	
		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover; 


		padding: 50px 100px;

		.menu_principal{
			position: absolute;
			z-index: 1;
			top: 72px;
			left: 75px;
			padding: 10px;
			backdrop-filter: blur(20px) saturate(138%);
		    -webkit-backdrop-filter: blur(20px) saturate(138%);
		    background-color: rgba(255, 255, 255, 0.14);
		    border-radius: 12px;
		    border: 1px solid rgba(209, 213, 219, 0.3);
			nav{
				ul{
					list-style: none;
					padding-left:0;
					text-align: center;
					li{
						font-size: 22px;
						margin: 30px 0px;
						
						a{
							color: $blanco;
							transition: 1s;
						}
						a:hover{
							color: #ffffff;
						}
					}
				}
			}
		}
		.menu_principal_movil{
			display: none;
		}
		/* <div id="block-views-block-tarjeta-de-presentacion-block-1" >
		</div> implicito: no posee representación grafica alguna. Delega al nodo_..._teaser*/
		#block-views-block-tarjeta-de-presentacion-block-1{
			div{
				div{
					div{
						.node_tarjeta_de_presentacion_teaser{
							display: flex;
							padding: 40px 80px 40px 80px;
							backdrop-filter: blur(20px) saturate(138%);
						    -webkit-backdrop-filter: blur(20px) saturate(138%);
						    background-color: rgba(255, 255, 255, 0.14);
						    border-radius: 12px;
						    border: 1px solid rgba(209, 213, 219, 0.3);
						    cursor: default;
							.box_1{
								display: flex;
								align-items: center;
								.fotografia{
									cursor: default;
									img{
										width: 420px;
						    			height: 420px;
						   				border-radius: 1000px;
						   				-moz-border-radius: 1000px;
						   				-webkit-border-radius: 1000px;
									}		
								}
							}
							.box_2{
								display: flex;
								align-items: center;
								#container{
									margin-left: 40px;
									#row-1{
										.nombre{
											font-size: 63px;
											font-weight: bolder;
											color: #000;
											text-align: right;
											cursor: default;	
										}
										.apellidos{
											font-size: 36px;
											text-align: right;
											font-style: oblique;
											color: $blanco;
											font-weight: bold;
											cursor: default;
		
										}
									}
									#row-2{
										.area_profesional{
											margin-top: 20px;
											font-size: 28px;
											font-weight: bold;
											cursor: default;
										}
										.body{
											padding-left: 20px;
											margin-top: 20px;
											font-size: 18px;
											color: #000;
											text-align: justify;
											border-left: 10px solid $blanco;
											cursor: default;
										}
									}
									#row-3{
										.tecnologias{
											font-size: 12px;
											color: #c6c8c8;
											cursor: default;
											.contenedor{
												display: grid;
												gap: 10px 20px;
												grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		
												div{
													display: block;
													text-align: center;
												}
											}	
										}
									}
									#row-4{
										cursor: default;
										display: flex;
										margin-top: 20px;
										font-size: 18px;
										//font-weight: bold;
										color: #000;

										.correo_electronico{
											cursor: default;
											width: 50%;
											text-align: left;
										}
										.numero_telefonico{
											cursor: default;
											width: 50%;
											text-align: right;
										}
									}
									#row-5{
										.curriculum_vitae{
											width: 100%;
											margin-top: 20px;
											text-align: right;
											a{
											background-color: transparent;
											font-size: 16px;
											color: #c6c8c8;
											padding: 10px;
											text-align: center;
											text-decoration: none;
											display: inline-block;
											margin: 4px 2px;
											cursor: pointer;
											border-radius: 5px;
											border: 1px solid transparent;
											transition: 2s;
											}
											a:hover{
												border: 1px solid #c6c8c8;
											}
										}
									}	
								}		
							}
						}
					}
				}
			}
		}	
	}
}