@charset "UTF-8";
/* Ing. Felipe de Jesús Miramontes Romreo */
/* Documento SCSS para la asignación de estilos en formato de escritorio 
para el sitio https://felipemiramontesr.net */
/* 15/07/2022 */
/* Variables*/
/* Inicio de la Media Query para dispositivos de tipo escritorio */
@media (min-width: 992px) {
  body {
    font-family: "Montserrat";
  }

  /* Ocultar 'Suscribe' */
  .feed_icon {
    display: none;
  }

  /* Creación de la página: /experiencia (/node/25) */
  .pagina_experiencia {
    padding: 50px 50px 30px 120px;
    /* Asignar la imagen 'back.jpg' como "fondo de pantalla"*/
    background-image: url("back.jpg");
  }
  .pagina_experiencia .menu_principal {
    position: fixed;
    z-index: 1;
    top: 82px;
    left: 50px;
    padding: 10px;
    backdrop-filter: blur(20px) saturate(138%);
    -webkit-backdrop-filter: blur(20px) saturate(138%);
    background-color: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  .pagina_experiencia .menu_principal nav ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
  }
  .pagina_experiencia .menu_principal nav ul li {
    font-size: 22px;
    margin: 30px 0px;
  }
  .pagina_experiencia .menu_principal nav ul li a {
    color: #c6c8c8;
    transition: 2s;
  }
  .pagina_experiencia .menu_principal nav ul li a:hover {
    color: #fff;
  }
  .pagina_experiencia .menu_principal:hover {
    transition: 1s;
    box-shadow: rgba(252, 124, 33, 0.4) -5px 5px, rgba(252, 124, 33, 0.3) -10px 10px, rgba(252, 124, 33, 0.2) -15px 15px, rgba(252, 124, 33, 0.1) -20px 20px, rgba(252, 124, 33, 0.05) -25px 25px;
  }
  .pagina_experiencia .menu_principal:hover a {
    color: #ffd9a1;
  }
  .pagina_experiencia .menu_principal_movil {
    display: none;
  }
  .pagina_experiencia .menu_header_experiencia {
    display: none;
  }
  .pagina_experiencia .menu_footer_experiencia {
    display: none;
  }
  .pagina_experiencia .menu_header_experiencia_naranja {
    display: none;
  }
  .pagina_experiencia .menu_footer_experiencia_azul {
    display: none;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div {
    display: block;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 255px;
    font-size: 12px;
    padding: 30px;
    cursor: default;
    backdrop-filter: blur(50px) saturate(138%);
    -webkit-backdrop-filter: blur(50px) saturate(138%);
    background-color: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box1 .image {
    cursor: default;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box1 .image img {
    width: 250px;
    height: 250px;
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    /* Modificar el brillo de las imagenes al 50% */
    filter: brightness(0.5);
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .title {
    text-align: right;
    pointer: default;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .title a {
    text-decoration: none;
    color: #c6c8c8;
    font-size: 21px;
    font-style: oblique;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .localizacion {
    text-align: right;
    color: #c6c8c8;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .fechas, .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .fecha {
    margin-top: 10px;
    color: #052029;
    font-size: 24px;
    text-align: right;
    font-weight: bolder;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .tipo_de_empleo {
    margin-top: 20px;
    text-align: left;
    color: #ffd9a1;
    font-size: 12px;
    font-style: oblique;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .body {
    text-align: justify;
    color: #c6c8c8;
    font-size: 12px;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .tecnologias_empleadas {
    margin-top: 20px;
    text-align: left;
    color: #ffd9a1;
    font-size: 12px;
    font-style: oblique;
    width: 100%;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .tecnologias_empleadas div {
    display: grid;
    gap: 20px 5px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .tecnologias_empleadas div div {
    display: block;
    text-align: center;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser:hover {
    transition: 1s;
    box-shadow: rgba(7, 234, 242, 0.5) 5px 5px, rgba(7, 234, 242, 0.3) 10px 10px, rgba(7, 234, 242, 0.2) 15px 15px, rgba(7, 234, 242, 0.1) 20px 20px, rgba(7, 234, 242, 0.05) 25px 25px;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser:hover .title a {
    color: #07eaf2;
    transition: 1s;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser:hover .localizacion {
    color: #07eaf2;
    transition: 1s;
  }
}
/* Fin de la Media Query para dispositivos de tipo escritorio */

/*# sourceMappingURL=desktopStyleExperienciaPage.css.map */
