@charset "UTF-8";
/* Ing. Felipe de Jesús Miramontes Romreo */
/* Documento SCSS para la asignación de estilos en formato movil
para el sitio https://felipemiramontesr.net/ciberblog */
/* 19/08/2022 */
/* Variables*/
/* Inicio de la Media Query para dispositivos de tipo movil */
@media (max-width: 576px) {
  body {
    font-family: "Montserrat";
  }

  /* Inicio de página: /page--front (/home) *********************************
  ***************************************************************************
  ff************************************************************************/
  .pagina_ciberblog {
    width: 96%;
    padding: 2%;
    /* Asignar la imagen 'back.jpg' como "fondo de pantalla"*/
    background-image: url("back.jpg");
    /* The image used */
    /* position: absolute;
    top: 0;
    bottom: 0;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  */
  }
  .pagina_ciberblog .menu_start_button_on {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(198, 41, 41, 0.8);
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    height: 70px;
    width: 70px;
    bottom: 20px;
    right: 10px;
    position: fixed;
    z-index: 1;
  }
  .pagina_ciberblog .menu_start_button_on .fa-bars {
    font-size: 24px;
    padding: 0px 5px;
    color: #edfee9;
  }
  .pagina_ciberblog .menu_start_button_off {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(41, 198, 85, 0.8);
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    height: 70px;
    width: 70px;
    bottom: 20px;
    right: 10px;
    position: fixed;
    z-index: 1;
  }
  .pagina_ciberblog .menu_start_button_off .fa-bars {
    font-size: 24px;
    padding: 0px 5px;
    color: #edfee9;
  }
  .pagina_ciberblog .region_3_off {
    display: grid;
    grid-template-columns: 100% 0%;
  }
  .pagina_ciberblog .region_3_off .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser {
    margin: 20px 20px;
    border-radius: 20px;
  }
  .pagina_ciberblog .region_3_off .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover {
    position: relative;
  }
  .pagina_ciberblog .region_3_off .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover div img {
    width: 100%;
    height: 630px;
    border-radius: 20px;
    filter: brightness(0.5);
  }
  .pagina_ciberblog .region_3_off .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover #picture_name_date_container {
    width: 90%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-radius: 20px 20px 0px 0px;
  }
  .pagina_ciberblog .region_3_off .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover #picture_name_date_container #picture img {
    width: 70px;
    height: 70px;
    border-radius: 1000px;
  }
  .pagina_ciberblog .region_3_off .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover #picture_name_date_container #name_date {
    display: block;
    padding-left: 10px;
  }
  .pagina_ciberblog .region_3_off .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover #picture_name_date_container #name_date #name {
    font-size: 24px;
    color: #edfee9;
  }
  .pagina_ciberblog .region_3_off .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover #picture_name_date_container #name_date #date {
    font-size: 14px;
    color: #edfee9;
    font-style: italic;
  }
  .pagina_ciberblog .region_3_off .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover #body {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0px 0px 20px 20px;
    width: 90%;
    color: #edfee9;
    font-size: 18px;
    text-align: justify;
  }
  .pagina_ciberblog .region_3_off #mobile_ciberblog_menu .nav_ciberblog_showed {
    background-color: rgba(255, 153, 0, 0.774);
    color: #ffffff;
    border-radius: 20px 0px 0px 20px;
    height: 85%;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
  }
  .pagina_ciberblog .region_3_off #mobile_ciberblog_menu .nav_ciberblog_showed ul {
    height: 100%;
    list-style: none;
    padding-left: 0;
    margin-top: -2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  .pagina_ciberblog .region_3_off #mobile_ciberblog_menu .nav_ciberblog_showed ul li {
    font-size: 14px;
    padding: 0px 10px;
    color: #edfee9;
  }
  .pagina_ciberblog .region_3_off #mobile_ciberblog_menu .nav_ciberblog_showed ul li a {
    color: #edfee9;
  }
  .pagina_ciberblog .region_3_on {
    display: grid;
    grid-template-columns: 90% 10%;
  }
  .pagina_ciberblog .region_3_on .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser {
    margin: 15px 15px;
    border-radius: 20px;
  }
  .pagina_ciberblog .region_3_on .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover {
    position: relative;
  }
  .pagina_ciberblog .region_3_on .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover div img {
    width: 100%;
    height: 540px;
    border-radius: 20px;
    filter: brightness(0.5);
  }
  .pagina_ciberblog .region_3_on .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover #picture_name_date_container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-radius: 20px 20px 0px 0px;
  }
  .pagina_ciberblog .region_3_on .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover #picture_name_date_container #picture img {
    width: 70px;
    height: 70px;
    border-radius: 1000px;
  }
  .pagina_ciberblog .region_3_on .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover #picture_name_date_container #name_date {
    display: block;
    padding-left: 10px;
  }
  .pagina_ciberblog .region_3_on .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover #picture_name_date_container #name_date #name {
    font-size: 24px;
    color: #edfee9;
  }
  .pagina_ciberblog .region_3_on .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover #picture_name_date_container #name_date #date {
    font-size: 14px;
    color: #edfee9;
    font-style: italic;
  }
  .pagina_ciberblog .region_3_on .blockViewsCiberblog #block-views-block-ciberblog-block-1 div div .views-row .node_article_teaser #cover #body {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0px 0px 20px 20px;
    width: 90%;
    color: #edfee9;
    font-size: 15px;
    text-align: justify;
  }
  .pagina_ciberblog .region_3_on #mobile_ciberblog_menu .nav_ciberblog_showed {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    border-radius: 20px 0px 0px 20px;
    height: 85%;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
  }
  .pagina_ciberblog .region_3_on #mobile_ciberblog_menu .nav_ciberblog_showed ul {
    height: 100%;
    list-style: none;
    padding-left: 0;
    margin-top: -2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  .pagina_ciberblog .region_3_on #mobile_ciberblog_menu .nav_ciberblog_showed ul li {
    font-size: 14px;
    padding: 0px 10px;
    color: #edfee9;
  }
  .pagina_ciberblog .region_3_on #mobile_ciberblog_menu .nav_ciberblog_showed ul li a {
    color: #edfee9;
  }
}

/*# sourceMappingURL=mobileStyleCiberblogPage.css.map */
