@charset "UTF-8";
/* Ing. Felipe de Jesús Miramontes Romreo */
/* Documento SCSS para la asignación de estilos en formato movil
para la página (/node/25): https://felipemiramontesr.net/experiencia */
/* 18/08/2022 */
/* Variables*/
/* Inicio de la Media Query para dispositivos de tipo movil */
@media (max-width: 576px) {
  body {
    font-family: "Montserrat";
  }

  /* Creación de la página (/node/25): /experiencia */
  .pagina_experiencia {
    display: block;
    width: 92%;
    padding: 4%;
    /* Asignar la imagen 'back.jpg' como "fondo de pantalla"*/
    background-image: url("back.jpg");
    /*Ocultar el menu principal de tipo Desktop*/
    /*Estilos para el menu "Header" con el neón apagado*/
    /*Estilos para el menu "Header" con el neón encendido*/
    /*Estilos para el menu "Footer" con el neón apagado*/
    /*Estilos para el menu "Footer" con el neón encendido*/
  }
  .pagina_experiencia .box-1 {
    display: none;
  }
  .pagina_experiencia .menu_principal {
    display: none;
  }
  .pagina_experiencia .menu_header_experiencia {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    /* Asignar efecto Glassmorphism (efecto Frozen Cristal, apariencia de cristal) */
    backdrop-filter: blur(20px) saturate(138%);
    -webkit-backdrop-filter: blur(20px) saturate(138%);
    background-color: rgba(255, 255, 255, 0.14);
    /* Efecto de doblés en patalla*/
    border-radius: 0px 0px 20px 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  .pagina_experiencia .menu_header_experiencia nav ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pagina_experiencia .menu_header_experiencia nav ul li {
    font-size: 14px;
  }
  .pagina_experiencia .menu_header_experiencia nav ul li a {
    color: #ffffff;
  }
  .pagina_experiencia .menu_header_experiencia_naranja {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    /* Asignar efecto Glassmorphism (efecto Frozen Cristal, apariencia de cristal) */
    backdrop-filter: blur(20px) saturate(138%);
    -webkit-backdrop-filter: blur(20px) saturate(138%);
    background-color: rgba(255, 255, 255, 0.14);
    /* Efecto de doblés en patalla*/
    border-radius: 0px 0px 20px 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    /*Efecto neón*/
    box-shadow: rgba(252, 124, 33, 0.5) 0px 5px, rgba(252, 124, 33, 0.3) 0px 10px, rgba(252, 124, 33, 0.2) 0px 15px, rgba(252, 124, 33, 0.1) 0px 20px, rgba(252, 124, 33, 0.05) 0px 25px;
  }
  .pagina_experiencia .menu_header_experiencia_naranja nav ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pagina_experiencia .menu_header_experiencia_naranja nav ul li {
    font-size: 14px;
  }
  .pagina_experiencia .menu_header_experiencia_naranja nav ul li a {
    color: #ffd9a1;
  }
  .pagina_experiencia .container-desktop {
    display: none;
  }
  .pagina_experiencia #block-views-block-galeria-experiencia-block-1 {
    display: none;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 {
    margin-top: 4.5em;
    margin-bottom: 4.5em;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div {
    display: block;
    /*Estilos para cada nodo de tipo Experiencia: node--experiencia--teaser.html.twig*/
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 12px;
    padding: 30px;
    cursor: default;
    backdrop-filter: blur(50px) saturate(138%);
    -webkit-backdrop-filter: blur(50px) saturate(138%);
    background-color: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    text-align: center;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box1 .image {
    cursor: default;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box1 .image img {
    width: 250px;
    height: 250px;
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    /* Modificar el brillo de las imagenes al 50% */
    filter: brightness(0.5);
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .title {
    pointer: default;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .title a {
    font-size: 2.5em;
    font-weight: bolder;
    color: #c6c8c8;
    text-align: center;
    cursor: default;
    text-decoration: none;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .localizacion {
    margin-top: 0.25em;
    font-style: oblique;
    padding-bottom: 0.4em;
    font-size: 1.7em;
    color: #c6c8c8;
    font-weight: bold;
    cursor: default;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .fechas, .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .fecha {
    font-size: 1.7em;
    color: #ffd9a1;
    text-align: center;
    font-weight: bold;
    cursor: default;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .tipo_de_empleo {
    margin-top: 2em;
    text-align: left;
    padding-bottom: 0.4em;
    font-size: 1em;
    color: #ffd9a1;
    cursor: default;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .body {
    margin-top: -0.5em;
    text-align: justify;
    color: #c6c8c8;
    font-size: 1.2em;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .tecnologias_empleadas {
    text-align: left;
    color: #ffd9a1;
    font-size: 1em;
    width: 100%;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .tecnologias_empleadas div {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .pagina_experiencia #block-views-block-experiencia-block-1 div div div .node_experiencia_teaser .box2 .tecnologias_empleadas div div {
    display: block;
    text-align: center;
  }
  .pagina_experiencia .menu_footer_experiencia {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    /* Asignar efecto Glassmorphism (efecto Frozen Cristal, apariencia de cristal) */
    backdrop-filter: blur(20px) saturate(138%);
    -webkit-backdrop-filter: blur(20px) saturate(138%);
    background-color: rgba(255, 255, 255, 0.14);
    /* Efecto de doblés en patalla*/
    border-radius: 20px 20px 0px 0px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  .pagina_experiencia .menu_footer_experiencia nav ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pagina_experiencia .menu_footer_experiencia nav ul li {
    font-size: 14px;
  }
  .pagina_experiencia .menu_footer_experiencia nav ul li a {
    color: #ffffff;
  }
  .pagina_experiencia .menu_footer_experiencia_azul {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    /* Asignar efecto Glassmorphism (efecto Frozen Cristal, apariencia de cristal) */
    backdrop-filter: blur(20px) saturate(138%);
    -webkit-backdrop-filter: blur(20px) saturate(138%);
    background-color: rgba(255, 255, 255, 0.14);
    /* Efecto de doblés en patalla*/
    border-radius: 20px 20px 0px 0px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    /*Efecto neón*/
    box-shadow: rgba(7, 234, 242, 0.5) 0px -5px, rgba(7, 234, 242, 0.3) 0px -10px, rgba(7, 234, 242, 0.2) 0px -15px, rgba(7, 234, 242, 0.1) 0px -20px, rgba(7, 234, 242, 0.05) 0px -25px;
  }
  .pagina_experiencia .menu_footer_experiencia_azul nav ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pagina_experiencia .menu_footer_experiencia_azul nav ul li {
    font-size: 14px;
  }
  .pagina_experiencia .menu_footer_experiencia_azul nav ul li a {
    color: #94ebee;
  }
}

/*# sourceMappingURL=mobileStyleExperienciaPage.css.map */
