/* Ing. Felipe de Jesús Miramontes Romreo */
/* Documento SCSS para la asignación de estilos en formato movil
para el sitio https://felipemiramontesr.net */
/* 15/07/2022 */

/* Variables*/
$naranja1: rgb(252, 124, 33);
$naranja2: #ffd9a1;
$blanco: #c6c8c8;
$azul:  rgb(148, 235, 238);

$layout-breakpoint: 576px;

/* Inicio de la Media Query para dispositivos de tipo movil */
@media (max-width: $layout-breakpoint) {
	body{
		font-family: "Montserrat"; 
	}

	/* Inicio de página: /page--front (/home) *********************************
	***************************************************************************
	ff************************************************************************/
	.pagina_frontal{
		background-image: url("back.jpg");
		width: 92%;
		padding: 4%;

		#block-views-block-tarjeta-de-presentacion-block-1{
			div{
				div{
					div{
						.node_tarjeta_de_presentacion_teaser{
							display: block;
							text-align: center;
							padding: 1.25em;
							backdrop-filter: blur(20px) saturate(138%);
						    -webkit-backdrop-filter: blur(20px) saturate(138%);
						    background-color: rgba(255, 255, 255, 0.14);
						    border-radius: 12px;
						    border: 1px solid rgba(209, 213, 219, 0.3);
						    cursor: default;
							
							.box_1{
								text-align: center;
								.fotografia{
									cursor: default;
									img{
										width: 250px;
						    			height: 250px;
						   				border-radius: 1000px;
						   				-moz-border-radius: 1000px;
						   				-webkit-border-radius: 1000px;
									}		
								}
							}
							
							.box_2{

								.nombre{
									margin-top:  0.2em;
									font-size: 2.5em;
									font-weight: bolder;
									color: $blanco;
									text-align:center;
									cursor: default;	
								}

								.apellidos{
									margin-top: 0.2em;
									font-size: 1.7em;
									text-align: center;
									font-style: oblique;
									color: $blanco;
									font-weight: bold;
									cursor: default;

								}

								.area_profesional{
									margin-top: 0.5em;
									padding-bottom:  0.4em;
									font-size: 0.9em;
									color: $naranja2;
									font-weight: bold;
									cursor: default;
								}

								.body{
									margin-top: 0.625em;
									border-top: 0.06em solid $blanco;
									border-bottom: 0.06em solid $blanco;
									font-size: 0.9em;
									color: $blanco;
									text-align: center;
									cursor: default;
								}

								.tecnologias{
									margin-top: 1.25em;
									font-size: 0.9em;
									color: $naranja2;
									font-weight: bold;
									cursor: default;
									
									.contenedor{
										display: grid;
										gap: 0.625em;
										grid-template-columns: 1fr 1fr 1fr 1fr;

										div{
											text-align: center;
										}
									}	
								}

								.correo_electronico_numero_telefonico{
									cursor: default;
									display: block;
									border-top: 0.06em solid $blanco;
									border-bottom: 0.06em solid $blanco;
									padding-top:0.625em;
									padding-bottom:0.625em;
									margin-top: 2em;
									color: $blanco;
									font-weight: bold;

									.correo_electronico{
										cursor: default;
										text-align: center;
									}

									.numero_telefonico{
										margin-top: 0.625em;
										cursor: default;
										text-align: center;
									}
								}

								.curriculum_vitae{
									width: 100%;
									margin-top: 0.8em;
									text-align: center;

									a{
										width:100%;
										font-size: 1.2em;
										font-weight: bold;
										background-color: $naranja2;
										border: 1px solid $naranja2;
										color: #474747;
										padding: 10px 0px;
										text-align: center;
										text-decoration: none;
										display: inline-block;
										margin: 4px 2px;
										cursor: pointer;
										border-radius: 5px;
									}
								}

								.iconos{
                                    
                                }
							}
						}
					}
				}
			}
		}
		.menu_principal_movil{
			margin-top: 1.25em;

			nav{

				ul{
					list-style: none;
					padding-left:0;
					text-align: center;
					display: grid;
					gap: 0.625em;
					grid-template-columns: 1fr 1fr;
					
					li{
						padding-top: 3.2em;
						padding-bottom: 3.2em;
						backdrop-filter: blur(20px) saturate(138%);
					    -webkit-backdrop-filter: blur(20px) saturate(138%);
					    background-color: rgba(255, 255, 255, 0.14);
					    border-radius: 12px;
					    border: 1px solid rgba(209, 213, 219, 0.3);
						
						a{
							font-size: 2.5em;
							color: $naranja2;
							transition: 1s;
							text-decoration: none;

							span{
								display: block;
								margin-top:0.25em;
								font-size: 0.5em;
								color: $naranja2;
								font-weight: bold;
							}
						}
					}
				}
			}
		}

		.menu_principal{
			display: none;
		}	
	}
	/* Fin de página: /page--front (/home) ************************************
	***************************************************************************
	ff************************************************************************/

	
	//Ocultar "Suscribe"
	.feed_icon{
		display: none
	}
}
/* Fin de la Media Query para dispositivos de tipo escritorio */