@charset "UTF-8";
/* Ing. Felipe de Jesús Miramontes Romreo */
/* Documento SCSS para la asignación de estilos en formato movil
para el sitio https://felipemiramontesr.net */
/* 15/07/2022 */
/* Variables*/
/* Punto de quiebre para dispositivos moviles*/
/* Media Query para dispositivos de tipo movil */
@media (max-width: 576px) {
  body {
    font-family: "Montserrat";
  }

  /* Inicio de página: /page--front (/home) *********************************
  ***************************************************************************
  ff************************************************************************/
  .pagina_frontal {
    background-image: url("back.jpg");
    width: 92%;
    padding: 4%;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser {
    display: block;
    text-align: center;
    padding: 1.25em;
    backdrop-filter: blur(20px) saturate(138%);
    -webkit-backdrop-filter: blur(20px) saturate(138%);
    background-color: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    cursor: default;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_1 {
    text-align: center;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_1 .fotografia {
    cursor: default;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_1 .fotografia img {
    width: 250px;
    height: 250px;
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_2 #row-1 .nombre {
    margin-top: 0.2em;
    font-size: 2.5em;
    font-weight: bolder;
    color: #c6c8c8;
    text-align: center;
    cursor: default;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_2 #row-1 .apellidos {
    margin-top: 0.2em;
    font-size: 1.7em;
    text-align: center;
    font-style: oblique;
    color: #c6c8c8;
    font-weight: bold;
    cursor: default;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_2 #row-2 .area_profesional {
    margin-top: 0.5em;
    padding-bottom: 0.4em;
    font-size: 0.9em;
    color: #ffd9a1;
    font-weight: bold;
    cursor: default;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_2 #row-2 .body {
    margin-top: 0.625em;
    border-top: 0.06em solid #c6c8c8;
    border-bottom: 0.06em solid #c6c8c8;
    font-size: 0.9em;
    color: #c6c8c8;
    text-align: center;
    cursor: default;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_2 #row-3 .tecnologias {
    margin-top: 1.25em;
    font-size: 0.9em;
    color: #ffd9a1;
    font-weight: bold;
    cursor: default;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_2 #row-3 .tecnologias .contenedor {
    display: grid;
    gap: 0.625em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_2 #row-3 .tecnologias .contenedor div {
    text-align: center;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_2 #row-4 {
    cursor: default;
    display: block;
    border-top: 0.06em solid #c6c8c8;
    border-bottom: 0.06em solid #c6c8c8;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    margin-top: 2em;
    color: #c6c8c8;
    font-weight: bold;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_2 #row-4 .correo_electronico {
    color: #fff;
    font-weight: bold;
    cursor: default;
    text-align: center;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_2 #row-4 .numero_telefonico {
    color: #fff;
    font-weight: bold;
    margin-top: 0.625em;
    cursor: default;
    text-align: center;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_2 #row-5 .curriculum_vitae {
    width: 100%;
    margin-top: 0.8em;
    text-align: center;
  }
  .pagina_frontal #block-views-block-tarjeta-de-presentacion-block-1 div div div .node_tarjeta_de_presentacion_teaser .box_2 #row-5 .curriculum_vitae a {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #ffd9a1;
    border: 1px solid #ffd9a1;
    color: #474747;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  .pagina_frontal .menu_principal_movil {
    margin-top: 1.25em;
  }
  .pagina_frontal .menu_principal_movil nav ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    display: grid;
    gap: 0.625em;
    grid-template-columns: 1fr 1fr;
  }
  .pagina_frontal .menu_principal_movil nav ul li {
    padding-top: 3.2em;
    padding-bottom: 3.2em;
    backdrop-filter: blur(20px) saturate(138%);
    -webkit-backdrop-filter: blur(20px) saturate(138%);
    background-color: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  .pagina_frontal .menu_principal_movil nav ul li a {
    font-size: 2.5em;
    color: #ffd9a1;
    transition: 1s;
    text-decoration: none;
  }
  .pagina_frontal .menu_principal_movil nav ul li a span {
    display: block;
    margin-top: 0.25em;
    font-size: 0.5em;
    color: #ffd9a1;
    font-weight: bold;
  }
  .pagina_frontal .menu_principal {
    display: none;
  }

  /* Fin de página: /page--front (/home) ************************************
  ***************************************************************************
  ff************************************************************************/
  .feed_icon {
    display: none;
  }
}
/* Fin de la Media Query para dispositivos de tipo escritorio */

/*# sourceMappingURL=mobileStyleFrontPage.css.map */
