<div class="node_educacion_teaser">
  <div class="box_1">
    <div class="fechas">{{ content.field_fechas }}</div>
  </div>
  <div class="box_2">
    <div class="title">
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </div>
    <div class="body"><p>{{ content.body }}</p></div>
  </div>
</div>
