{# 
Página: Ciberblog
Tipo: Mobile 
#}

<div class="pagina_ciberblog" id="pagina_ciberblog">
	{{ page.section_3}}

	<div class= "menu_start_button_off" id="menu_start_button">
    	<i class="fa-solid fa-bars"></i>
  	</div>
</div>
