<div class="pagina_experiencia">

	<div class="box-1">
		<div class= "row-1">
			<div class="año-2012">
				2012
			</div>

			<div class="año-2013">
				2013
			</div>

			<div class="año-2014">
				2014
			</div>

			<div class="año-2015">
				2015
			</div>

			<div class="año-2016">
				2016
			</div>

			<div class="año-2017">
				2017
			</div>

			<div class="año-2018">
				2018
			</div>

			<div class="año-2019">
				2019
			</div>

			<div class="año-2020">
				2020
			</div>

			<div class="año-2021">
				2021
			</div>

			<div class="año-2022">
				2022
			</div>
		</div>

		<div class="row-2">
			<div class="r1-on" id="r1">
				Lunna Stucco LLC
			</div>

			<div class="r2-off" id="r2">
				Freelancing
			</div>

			<div class="r3-off" id="r3">
				ISSEG		
			</div>

			<div class="r4-off" id="r4">
				Universidad Carlos III
			</div>

			<div class="r5-off" id="r5">
				Freelancing
			</div>

			<div class="r6-off" id="r6">
				Santa María de la Paz, Zac
			</div>

			<div class="r7-off" id="r7">
				Act
			</div>

		</div>
	</div>
	
	<div class="box-2" >
		{{ page.content }}
	</div>

</div>
